# Project Plan

## Load Data

In [1]:
import pandas as pd

In [6]:
contract = pd.read_csv('/datasets/contract.csv')
contract.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB

In [16]:
contract['PaymentMethod']

0                Electronic check
1                    Mailed check
2                    Mailed check
3       Bank transfer (automatic)
4                Electronic check
                  ...
7038                 Mailed check
7039      Credit card (automatic)
7040             Electronic check
7041                 Mailed check
7042    Bank transfer (automatic)
Name: PaymentMethod, Length: 7043, dtype: object

In [7]:
personal = pd.read_csv('/datasets/personal.csv')
personal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [8]:
internet = pd.read_csv('/datasets/internet.csv')
internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149396 entries, 0 to 149395
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    149396 non-null  int64
 1   id            149396 non-null  object
 2   mb_used       149396 non-null  float64
 3   session_date  149396 non-null  object
 4   user_id       149396 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 5.7+ MB

In [9]:
phone = pd.read_csv('/datasets/phone.csv')
phone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     6361 non-null   object
 1   MultipleLines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB

## Clean Data

The first thing that will need to happen is to change all column names in the database such that all spaces are replaced with underscores, and all camel casing is replaced with lowercase letters and underscores.

In the phone dataframe, it is interesting that there are fewer objects as opposed to contracts and personal accounts. This begs the question, should I only include the customers in the database that also have a phone? This will be decided during EDA.

All date columns in the database need to be changed to datetime objects. TotalCharges in contract will need to be changed to a float64.

One Hot Encoding will be a good idea for columns such as gender, Partner, Dependents, Type, PaymentMethod. This will make future training more efficient for models.

A column will need to be made that simply classified whether or not a customer has left the company. This will be decided on if they have an end date or not.

Finally, merge all columns in the database into a single dataframe where the index is organized by CustomerID. A result will be that there will be potentially lots of null fillings due to the internet dataframe being so much larger. Those nulls will have to be filled accordingly with customer ID information.

## EDA

In [11]:
contract.describe()

       MonthlyCharges
count     7043.000000
mean        64.761692
std         30.090047
min         18.250000
25%         35.500000
50%         70.350000
75%         89.850000
max        118.750000

In [12]:
personal.describe()

       SeniorCitizen
count    7043.000000
mean        0.162147
std         0.368612
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [17]:
internet.describe()

          Unnamed: 0        mb_used        user_id
count  149396.000000  149396.000000  149396.000000
mean    74697.500000     370.192426    1252.099842
std     43127.054745     278.300951     144.050823
min         0.000000       0.000000    1000.000000
25%     37348.750000     138.187500    1130.000000
50%     74697.500000     348.015000    1251.000000
75%    112046.250000     559.552500    1380.000000
max    149395.000000    1724.830000    1499.000000

In [18]:
phone.describe()

        customerID MultipleLines
count         6361          6361
unique        6361             2
top     0697-ZMSWS            No
freq             1          3390

Box plots, pair plots, histograms, and bar charts will be needed to get a better picture of this database. Other EDA may be applied later

## Training

Split the data into train, test. 90-10 split should suffice for this. If 80-20 is essential, that change can be made later.

The target will be classifying whether or not a customer has churned.

Scale the data to make feature_importance more balanced for models.

Since this is a classification set, I will use DummyClassifier, Logistic Regression, Decision Tree, Random Forest, LGBM, Cat Gradient. All will use GridSearchCV in an attempt to build more accurate models. The goal is to maximize f1, roc-auc scores, and overall accuracy. The goal for the best model in training is at least 95% accuracy. This should be doable, and accuracy as high as 99% could be possible at this point.

## Testing

Final testing accuracy should be as high as 95%, but my ultimate goal is to match training at 99%. A lofty goal, but am eager to strive for it.

After testing, unscale the data and display feature importances of the models and build a column in the whole dataframe of the predictions made by the best model in both training, and testing.